N8N_Raqeeb_Core.json
{
  "name": "Raqeeb Core workflow v3 - Active",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "os",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1536,
        400
      ],
      "id": "0e625a12-aee6-4511-8332-7361062a1abb",
      "name": "Webhook",
      "webhookId": "a2a1e3d4-7c62-4c14-845a-7c10cb684936"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1312,
        400
      ],
      "id": "b612cfb1-46d6-4dbd-95da-6ddc66b73115",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -640,
        400
      ],
      "id": "23adf86b-d538-46f1-b0f3-bb68007d4535",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "full_records",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -864,
        400
      ],
      "id": "dd625e22-3e04-4af8-a63b-a516522ef3bb",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=here is the output from dfir iris containing the alerts that were created:  {{ $json.combined }}\n\ndo the following:\n- collect alert_id that relate to the same asset_name and suggest a case name based on the signatures in the alerts, these alerts will be merged later \n- extract the attacker IP form alert_description and target IP from alert_note\n- count the number of akert_id\n\nReturn a JSON array similar to the following structure:\n\n\n[\n  {\n    \"case_name\": \"...\",\n    \"alerts_to_merge\": [..., ..., ...\n    ],\n    \"attacker_ip\": \"...\",\n    \"target_ip\": \"...\",\n    \"alert_count\": ...\n  }\n]\n\nyour answer shouldn't include any other working than the json array",
        "needsFallback": true,
        "options": {
          "systemMessage": "You are a SOC automation agent using dfir IRIS",
          "maxIterations": 4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -144,
        -192
      ],
      "id": "49056f9b-b2cf-4ef5-a02e-b624bb294dc2",
      "name": "AI Agent",
      "notesInFlow": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -144,
        32
      ],
      "id": "0e13ab08-d7a8-45cf-8f59-414d38c3e6dd",
      "name": "Google Gemini Chat Model",
      "notesInFlow": true,
      "credentials": {
        "googlePalmApi": {
          "id": "5QVQ5c3ihSdAJvD1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "az12"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        0,
        32
      ],
      "id": "e390a535-76c0-4f93-8d72-8b566e848158",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        -192
      ],
      "id": "c6a777a9-6cf3-465d-aa5b-329bfe3fa680",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d6ac2df-5852-467e-91c6-3baae59e3265",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -192
      ],
      "id": "0b9e21a8-b50d-4078-a68e-eb97de26e2f4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1104,
        80
      ],
      "id": "bc74eb0b-16d4-4a3f-a775-4d3c040341e5",
      "name": "Merge"
    },
    {
      "parameters": {
        "fieldToSplitOut": "alerts_to_merge",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1328,
        80
      ],
      "id": "da258d58-d6af-486f-abd5-0fdb81a484fd",
      "name": "Split Out4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1552,
        80
      ],
      "id": "6b0ecad3-5459-46cc-af93-886c280609fe",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        832,
        -544
      ],
      "id": "dd1f3ba5-cc5b-425e-9752-4d672af99b78",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "content": "## Message Treatment\n",
        "height": 288,
        "width": 816,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1552,
        320
      ],
      "id": "5e8cd106-42e5-4ddf-8cf7-677e670f49a4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Enrich IR Platform with Alerts",
        "height": 288,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -704,
        320
      ],
      "typeVersion": 1,
      "id": "d31c0783-5755-4212-86f0-15287b176900",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Analyze Alerts with AI",
        "height": 528,
        "width": 1072,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -544,
        -352
      ],
      "id": "4a82af5b-2e31-4107-ae94-08f04e3efc3f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Update Firewall Rules",
        "height": 448,
        "width": 512,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        -592
      ],
      "id": "11161eb8-f26e-4bb8-965c-20a791d09bac",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Create Case in IR Platform and Enrich it",
        "height": 416,
        "width": 1216,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        -96
      ],
      "id": "5a5b1eab-ac54-474d-90ec-8dfaa8c3576a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "curlImport": "",
        "httpVariantWarning": "",
        "method": "POST",
        "url": "https://192.168.179.140/alerts/add",
        "": "",
        "authentication": "none",
        "provideSslCertificates": false,
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "cid",
              "value": "2"
            }
          ]
        },
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EtJNGLb9UmH53s-DKDQf4uK2_jTMJtS5G-GywSw19QGbsnnmxm2XvbzO5sQ7ulJniAztW5v_-Bs1ALxA9zKR8w"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"alert_title\": \"{{ $ifEmpty($json.full_records.category, 'Unknown Category') }}\",\n  \"alert_description\": \"{{ $ifEmpty($json.full_records.signature, 'Unknown Category') }} \\n Attacker IP: {{ $json.full_records.flow.src_ip }}\",\n  \"alert_source\": \"{{ $json.full_records.pkt_src }}\",\n  \"alert_severity_id\": 1,\n  \"alert_status_id\": 1,\n  \"alert_customer_id\": 1,\n  \"alert_note\":\"Community ID: {{ $json.full_records.community_id }} \\nTarget IP: {{ $json.full_records.flow.dest_ip }}\",\n  \"alert_source_event_time\":\"{{ $json.full_records['@timestamp'] }}\",\n  \"alert_assets\": [\n    {\n      \"asset_ip\": \"{{ $json.full_records.flow.dest_ip }}\",\n      \"asset_type_id\": 3,\n      \"asset_name\": \"{{ $json.full_records.dest_ip }}\",\n      \"asset_ip\": \"{{ $json.full_records.dest_ip }}\"\n    }\n  ]\n} ",
        "options": {
          "allowUnauthorizedCerts": true
        },
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -80,
        416
      ],
      "id": "96c7207a-f112-4e87-b9ae-926cb9765651",
      "name": "Send Alerts to IRIS",
      "extendsCredential": "dfirIrisApi",
      "credentials": {
        "dfirIrisApi": {
          "id": "UeUB5UUhxfTFvjFo",
          "name": "DFIR-IRIS account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const rawStr = item.json.full_records;\n\n  function parseCustomFormat(str) {\n    // Remove the outer curly braces\n    let content = str.trim().replace(/^\\{/, '').replace(/\\}$/, '');\n    let result = {};\n    \n    // Regex to find key=value pairs, accounting for nested { } blocks\n    // This looks for a key followed by =, then captures everything until the next \n    // top-level comma or the end of the string\n    const pairRegex = /([^,=\\s]+)=({[^{}]*}|\\[[^\\[\\]]*\\]|[^,}]*)/g;\n    let match;\n\n    while ((match = pairRegex.exec(content)) !== null) {\n      let key = match[1].trim();\n      let value = match[2].trim();\n\n      // Handle Nested Objects recursively\n      if (value.startsWith('{')) {\n        value = parseCustomFormat(value);\n      } \n      // Handle Arrays [val]\n      else if (value.startsWith('[')) {\n        value = value.replace(/[\\[\\]]/g, '').split(',').map(v => v.trim());\n      }\n      // Handle Numbers\n      else if (!isNaN(value) && value !== '') {\n        value = Number(value);\n      }\n      // Clean up string values (remove any trailing/leading accidental quotes)\n      else {\n        value = value.replace(/^\"(.*)\"$/, '$1');\n      }\n\n      result[key] = value;\n    }\n    return result;\n  }\n\n  try {\n    item.json.full_records = parseCustomFormat(rawStr);\n  } catch (e) {\n    item.json.error = \"Parsing failed: \" + e.message;\n  }\n}\n\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        416
      ],
      "id": "31a80421-7340-4a02-8612-1df2f747a928",
      "name": "Clean Items"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const text = item.json.body;\n  const key = `\"full_record\"`;\n  const results = [];\n  let pos = 0;\n\n  while (true) {\n    // Find next occurrence of \"full_record\"\n    const idx = text.indexOf(key, pos);\n    if (idx === -1) break;\n\n    // Find start of the object\n    const start = text.indexOf('{', idx + key.length);\n    if (start === -1) break;\n\n    let depth = 0;\n    let end = start;\n\n    // Walk to find matching closing brace\n    for (let i = start; i < text.length; i++) {\n      if (text[i] === '{') depth++;\n      if (text[i] === '}') depth--;\n      if (depth === 0) {\n        end = i;\n        break;\n      }\n    }\n\n    // Extract the substring\n    const fullRecordStr = text.substring(start, end + 1);\n    results.push(fullRecordStr);\n\n    // Move past current end so we find next\n    pos = end + 1;\n  }\n\n  return {\n    json: {\n      full_records: results\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        400
      ],
      "id": "a8869477-4725-4d95-a14f-7c9f13ebe203",
      "name": "Clean the message body"
    },
    {
      "parameters": {
        "curlImport": "",
        "httpVariantWarning": "",
        "method": "POST",
        "url": "https://192.168.179.140/manage/cases/add",
        "": "",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "dfirIrisApi",
        "provideSslCertificates": false,
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "cid",
              "value": "2"
            }
          ]
        },
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer Bm5RUXeFENaNglAXWHaGT278DJzWLPsuqBxOJRP26gwRz7R5gz3Mtsrx5emKXpkpz8C9kk1Fj7pdr0ZHIQv7Uw"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"case_soc_id\": \"SOC_154\",\n  \"case_customer\": 2,\n  \"case_name\": \"{{ $json.case_name }}\",\n  \"case_description\": \"Attack detected from {{$json.attacker_ip}} targeting {{$json.target_ip}}. Total alerts: {{$json.alert_count}}\"\n}",
        "options": {
          "allowUnauthorizedCerts": true
        },
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        816,
        96
      ],
      "id": "6702c27a-d371-4ea3-a27a-15ce301d4b3f",
      "name": "Create Case",
      "extendsCredential": "dfirIrisApi",
      "credentials": {
        "dfirIrisApi": {
          "id": "UeUB5UUhxfTFvjFo",
          "name": "DFIR-IRIS account"
        }
      }
    },
    {
      "parameters": {
        "curlImport": "",
        "httpVariantWarning": "",
        "method": "POST",
        "url": "=https://192.168.179.140/alerts/merge/{{ $json.alerts_to_merge }}",
        "": "",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "dfirIrisApi",
        "provideSslCertificates": false,
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "cid",
              "value": "2"
            }
          ]
        },
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer Bm5RUXeFENaNglAXWHaGT278DJzWLPsuqBxOJRP26gwRz7R5gz3Mtsrx5emKXpkpz8C9kk1Fj7pdr0ZHIQv7Uw"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"target_case_id\": {{ $json.data.case_id }},\n  \"import_as_event\": true,\n  \"iocs_import_list\": [],\n  \"assets_import_list\": []\n} ",
        "options": {
          "allowUnauthorizedCerts": true
        },
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1776,
        96
      ],
      "id": "4827534c-6a8b-4fa3-b12f-75d69bea41c0",
      "name": "Merge Alerts into Case",
      "extendsCredential": "dfirIrisApi",
      "credentials": {
        "dfirIrisApi": {
          "id": "UeUB5UUhxfTFvjFo",
          "name": "DFIR-IRIS account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.179.150/api/firewall/alias_util/add/blocked_ips",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "address",
              "value": "={{ $json.attacker_ip }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1056,
        -528
      ],
      "id": "a8d320d3-2125-472e-9537-a87a56aad083",
      "name": "Block Attacker",
      "credentials": {
        "httpBasicAuth": {
          "id": "WzD0WRQmy135mc33",
          "name": "Firewall Creds"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.179.150/api/firewall/alias_util/add/isolated_ips",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "address",
              "value": "={{ $json.target_ip }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1056,
        -336
      ],
      "id": "a3d036ad-a0ba-4faf-8db7-3390b1bfaa03",
      "name": "Isolate Asset",
      "credentials": {
        "httpBasicAuth": {
          "id": "WzD0WRQmy135mc33",
          "name": "Firewall Creds"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allItems = [];\n\nfor (const item of items) {\n  allItems.push(item.json.data);\n}\n\nreturn [{\n  json: {\n    combined: JSON.stringify(allItems)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        -192
      ],
      "id": "bedc15b1-116d-4a56-8983-7db9c64f67c2",
      "name": "Extract Alert IDs"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "content-type": "text/plain",
            "accept-encoding": "gzip, x-gzip, deflate",
            "host": "localhost:5678",
            "content-length": "28482",
            "connection": "keep-alive",
            "user-agent": "Apache-HttpClient/5.4.4 (Java/24.0.2)"
          },
          "params": {},
          "query": {},
          "body": "{\n  \"alerts\": [\n    {\n      \"alert_title\": \"\",\n      \"alert_description\": \"Suricata alert:  (SID 2010963); severity 1\",\n      \"alert_source\": \"Suricata/OpenSearch\",\n      \"alert_source_ref\": \"WKjs5ZwBvisK5xa-dBRB\",\n      \"alert_source_event_time\": \"2026-03-13T06:40:03.676Z\",\n      \"alert_tags\": \"suricata,Web Application Attack\",\n      \"alert_severity_id\": 1,\n      \"alert_customer_id\": 1,\n      \"alert_classification_id\": 1,\n      \"alert_source_content\": {\n        \"event_type\": \"alert\",\n        \"src_ip\": \"192.168.8.1\",\n        \"src_port\": \"44602\",\n        \"dest_ip\": \"192.168.7.2\",\n        \"dest_port\": \"80\",\n        \"signature_id\": \"2010963\",\n        \"signature\": \"\",\n        \"severity\": \"1\",\n        \"category\": \"Web Application Attack\",\n        \"full_record\": {tx_id=0, app_proto=http, in_iface=ens32, src_ip=192.168.8.1, src_port=44602, community_id=1:hZVywMkmyHBW3/3nIVU0T0dYa34=, @timestamp=2026-03-13T06:40:03.676Z, event_type=alert, alert={severity=1, signature_id=2010963, rev=7, metadata={mitre_tactic_id=[TA0001], affected_product=[Web_Server_Applications], attack_target=[Web_Server], updated_at=[2020_08_20], created_at=[2010_07_30], mitre_technique_id=[T1190], mitre_technique_name=[Exploit_Public_Facing_Application], mitre_tactic_name=[Initial_Access], tag=[SQL_Injection], signature_severity=[Major], deployment=[Datacenter]}, gid=1, signature=ET WEB_SERVER SELECT USER SQL Injection Attempt in URI, action=allowed, category=Web Application Attack}, flow_id=1349374090301331, dest_ip=192.168.7.2, proto=TCP, http={redirect=../../login.php, hostname=192.168.7.2, protocol=HTTP/1.1, http_method=GET, http_content_type=text/html, length=0, url=/dvwa/vulnerabilities/sqli/?id=%27+UNION+SELECT+user%2C+password+FROM+users%23&Submit=Submit, http_user_agent=Mozilla/5.0 (X11; Linux x86_64; rv:128.0) Gecko/20100101 Firefox/128.0, status=302}, dest_port=80, pkt_src=wire/pcap, flow={src_ip=192.168.8.1, src_port=44602, pkts_toserver=4, dest_ip=192.168.7.2, start=2026-03-12T05:01:00.183103-0500, bytes_toclient=695, bytes_toserver=745, pkts_toclient=3, dest_port=80}, timestamp=2026-03-12T05:01:00.204469-0500, direction=to_server} \n      }\n    },\n    {\n      \"alert_title\": \"\",\n      \"alert_description\": \"Suricata alert:  (SID 2010963); severity 1\",\n      \"alert_source\": \"Suricata/OpenSearch\",\n      \"alert_source_ref\": \"Wajs5ZwBvisK5xa-dBRB\",\n      \"alert_source_event_time\": \"2026-03-13T06:40:03.676Z\",\n      \"alert_tags\": \"suricata,Web Application Attack\",\n      \"alert_severity_id\": 1,\n      \"alert_customer_id\": 1,\n      \"alert_classification_id\": 1,\n      \"alert_source_content\": {\n        \"event_type\": \"alert\",\n        \"src_ip\": \"192.168.8.1\",\n        \"src_port\": \"33158\",\n        \"dest_ip\": \"192.168.7.2\",\n        \"dest_port\": \"80\",\n        \"signature_id\": \"2010963\",\n        \"signature\": \"\",\n        \"severity\": \"1\",\n        \"category\": \"Web Application Attack\",\n        \"full_record\": {tx_id=10, app_proto=http, in_iface=ens32, src_ip=192.168.8.1, src_port=33158, community_id=1:hr92I7c9LxdufHTPlwBi6Otu++o=, @timestamp=2026-03-13T06:40:03.676Z, event_type=alert, alert={severity=1, signature_id=2010963, rev=7, metadata={mitre_tactic_id=[TA0001], affected_product=[Web_Server_Applications], attack_target=[Web_Server], updated_at=[2020_08_20], created_at=[2010_07_30], mitre_technique_id=[T1190], mitre_technique_name=[Exploit_Public_Facing_Application], mitre_tactic_name=[Initial_Access], tag=[SQL_Injection], signature_severity=[Major], deployment=[Datacenter]}, gid=1, signature=ET WEB_SERVER SELECT USER SQL Injection Attempt in URI, action=allowed, category=Web Application Attack}, flow_id=2195114557387906, dest_ip=192.168.7.2, proto=TCP, http={hostname=192.168.7.2, protocol=HTTP/1.1, http_method=GET, http_content_type=text/html, http_refer=http://192.168.7.2/dvwa/vulnerabilities/sqli/, length=1095, url=/dvwa/vulnerabilities/sqli/?id=%27+UNION+SELECT+user%2C+password+FROM+users%23&Submit=Submit, http_user_agent=Mozilla/5.0 (X11; Linux x86_64; rv:128.0) Gecko/20100101 Firefox/128.0, status=200}, dest_port=80, pkt_src=wire/pcap, flow={src_ip=192.168.8.1, src_port=33158, pkts_toserver=26, dest_ip=192.168.7.2, start=2026-03-12T05:00:47.314481-0500, bytes_toclient=16189, bytes_toserver=7355, pkts_toclient=26, dest_port=80}, timestamp=2026-03-12T05:01:05.381583-0500, direction=to_server} \n      }\n    },\n    {\n      \"alert_title\": \"\",\n      \"alert_description\": \"Suricata alert:  (SID 2010937); severity 2\",\n      \"alert_source\": \"Suricata/OpenSearch\",\n      \"alert_source_ref\": \"Wqjs5ZwBvisK5xa-dBRB\",\n      \"alert_source_event_time\": \"2026-03-13T06:40:03.678Z\",\n      \"alert_tags\": \"suricata,Potentially Bad Traffic\",\n      \"alert_severity_id\": 2,\n      \"alert_customer_id\": 1,\n      \"alert_classification_id\": 1,\n      \"alert_source_content\": {\n        \"event_type\": \"alert\",\n        \"src_ip\": \"192.168.8.1\",\n        \"src_port\": \"59341\",\n        \"dest_ip\": \"192.168.7.2\",\n        \"dest_port\": \"3306\",\n        \"signature_id\": \"2010937\",\n        \"signature\": \"\",\n        \"severity\": \"2\",\n        \"category\": \"Potentially Bad Traffic\",\n        \"full_record\": {in_iface=ens32, src_ip=192.168.8.1, src_port=59341, community_id=1:6ShLdWEU3nz9XjF1jid9nHUcNuA=, @timestamp=2026-03-13T06:40:03.678Z, event_type=alert, alert={severity=2, signature_id=2010937, rev=3, metadata={updated_at=[2019_07_26], confidence=[Medium], created_at=[2010_07_30], signature_severity=[Informational]}, gid=1, signature=ET SCAN Suspicious inbound to mySQL port 3306, action=allowed, category=Potentially Bad Traffic}, flow_id=36609561405581, dest_ip=192.168.7.2, proto=TCP, dest_port=3306, pkt_src=wire/pcap, flow={src_ip=192.168.8.1, src_port=59341, pkts_toserver=1, dest_ip=192.168.7.2, start=2026-03-12T05:01:28.205131-0500, bytes_toclient=0, bytes_toserver=60, pkts_toclient=0, dest_port=3306}, timestamp=2026-03-12T05:01:28.205131-0500, direction=to_server} \n      }\n    },\n    {\n      \"alert_title\": \"\",\n      \"alert_description\": \"Suricata alert:  (SID 2010936); severity 2\",\n      \"alert_source\": \"Suricata/OpenSearch\",\n      \"alert_source_ref\": \"W6js5ZwBvisK5xa-dBRB\",\n      \"alert_source_event_time\": \"2026-03-13T06:40:03.678Z\",\n      \"alert_tags\": \"suricata,Potentially Bad Traffic\",\n      \"alert_severity_id\": 2,\n      \"alert_customer_id\": 1,\n      \"alert_classification_id\": 1,\n      \"alert_source_content\": {\n        \"event_type\": \"alert\",\n        \"src_ip\": \"192.168.8.1\",\n        \"src_port\": \"59341\",\n        \"dest_ip\": \"192.168.7.2\",\n        \"dest_port\": \"1521\",\n        \"signature_id\": \"2010936\",\n        \"signature\": \"\",\n        \"severity\": \"2\",\n        \"category\": \"Potentially Bad Traffic\",\n        \"full_record\": {in_iface=ens32, src_ip=192.168.8.1, src_port=59341, community_id=1:cmLt8irk5qw5XDs+V+qkAow8Q5Y=, @timestamp=2026-03-13T06:40:03.678Z, event_type=alert, alert={severity=2, signature_id=2010936, rev=3, metadata={updated_at=[2019_07_26], confidence=[Medium], created_at=[2010_07_30], signature_severity=[Informational]}, gid=1, signature=ET SCAN Suspicious inbound to Oracle SQL port 1521, action=allowed, category=Potentially Bad Traffic}, flow_id=85126691762590, dest_ip=192.168.7.2, proto=TCP, dest_port=1521, pkt_src=wire/pcap, flow={src_ip=192.168.8.1, src_port=59341, pkts_toserver=1, dest_ip=192.168.7.2, start=2026-03-12T05:01:28.281964-0500, bytes_toclient=0, bytes_toserver=60, pkts_toclient=0, dest_port=1521}, timestamp=2026-03-12T05:01:28.281964-0500, direction=to_server} \n      }\n    },\n    {\n      \"alert_title\": \"\",\n      \"alert_description\": \"Suricata alert:  (SID 2010939); severity 2\",\n      \"alert_source\": \"Suricata/OpenSearch\",\n      \"alert_source_ref\": \"XKjs5ZwBvisK5xa-dBRB\",\n      \"alert_source_event_time\": \"2026-03-13T06:40:03.678Z\",\n      \"alert_tags\": \"suricata,Potentially Bad Traffic\",\n      \"alert_severity_id\": 2,\n      \"alert_customer_id\": 1,\n      \"alert_classification_id\": 1,\n      \"alert_source_content\": {\n        \"event_type\": \"alert\",\n        \"src_ip\": \"192.168.8.1\",\n        \"src_port\": \"59341\",\n        \"dest_ip\": \"192.168.7.2\",\n        \"dest_port\": \"5432\",\n        \"signature_id\": \"2010939\",\n        \"signature\": \"\",\n        \"severity\": \"2\",\n        \"category\": \"Potentially Bad Traffic\",\n        \"full_record\": {in_iface=ens32, src_ip=192.168.8.1, src_port=59341, community_id=1:ZFmhupmlGfUfuZEGZxi5LMXHgzs=, @timestamp=2026-03-13T06:40:03.678Z, event_type=alert, alert={severity=2, signature_id=2010939, rev=3, metadata={updated_at=[2019_07_26], confidence=[Medium], created_at=[2010_07_30], signature_severity=[Informational]}, gid=1, signature=ET SCAN Suspicious inbound to PostgreSQL port 5432, action=allowed, category=Potentially Bad Traffic}, flow_id=87540417505055, dest_ip=192.168.7.2, proto=TCP, dest_port=5432, pkt_src=wire/pcap, flow={src_ip=192.168.8.1, src_port=59341, pkts_toserver=1, dest_ip=192.168.7.2, start=2026-03-12T05:01:28.282526-0500, bytes_toclient=0, bytes_toserver=60, pkts_toclient=0, dest_port=5432}, timestamp=2026-03-12T05:01:28.282526-0500, direction=to_server} \n      }\n    },\n    {\n      \"alert_title\": \"\",\n      \"alert_description\": \"Suricata alert:  (SID 2010935); severity 2\",\n      \"alert_source\": \"Suricata/OpenSearch\",\n      \"alert_source_ref\": \"Xajs5ZwBvisK5xa-dBRB\",\n      \"alert_source_event_time\": \"2026-03-13T06:40:03.678Z\",\n      \"alert_tags\": \"suricata,Potentially Bad Traffic\",\n      \"alert_severity_id\": 2,\n      \"alert_customer_id\": 1,\n      \"alert_classification_id\": 1,\n      \"alert_source_content\": {\n        \"event_type\": \"alert\",\n        \"src_ip\": \"192.168.8.1\",\n        \"src_port\": \"59341\",\n        \"dest_ip\": \"192.168.7.2\",\n        \"dest_port\": \"1433\",\n        \"signature_id\": \"2010935\",\n        \"signature\": \"\",\n        \"severity\": \"2\",\n        \"category\": \"Potentially Bad Traffic\",\n        \"full_record\": {in_iface=ens32, src_ip=192.168.8.1, src_port=59341, community_id=1:XveskM4PCLQd5X0MTA3JEbrKw9I=, @timestamp=2026-03-13T06:40:03.678Z, event_type=alert, alert={severity=2, signature_id=2010935, rev=3, metadata={updated_at=[2019_07_26], confidence=[Medium], created_at=[2010_07_30], signature_severity=[Informational]}, gid=1, signature=ET SCAN Suspicious inbound to MSSQL port 1433, action=allowed, category=Potentially Bad Traffic}, flow_id=162588528128520, dest_ip=192.168.7.2, proto=TCP, dest_port=1433, pkt_src=wire/pcap, flow={src_ip=192.168.8.1, src_port=59341, pkts_toserver=1, dest_ip=192.168.7.2, start=2026-03-12T05:01:28.431071-0500, bytes_toclient=0, bytes_toserver=60, pkts_toclient=0, dest_port=1433}, timestamp=2026-03-12T05:01:28.431071-0500, direction=to_server} \n      }\n    },\n    {\n      \"alert_title\": \"\",\n      \"alert_description\": \"Suricata alert:  (SID 2002910); severity 2\",\n      \"alert_source\": \"Suricata/OpenSearch\",\n      \"alert_source_ref\": \"Xqjs5ZwBvisK5xa-dBRB\",\n      \"alert_source_event_time\": \"2026-03-13T06:40:03.678Z\",\n      \"alert_tags\": \"suricata,Attempted Information Leak\",\n      \"alert_severity_id\": 2,\n      \"alert_customer_id\": 1,\n      \"alert_classification_id\": 1,\n      \"alert_source_content\": {\n        \"event_type\": \"alert\",\n        \"src_ip\": \"192.168.8.1\",\n        \"src_port\": \"59341\",\n        \"dest_ip\": \"192.168.7.2\",\n        \"dest_port\": \"5811\",\n        \"signature_id\": \"2002910\",\n        \"signature\": \"\",\n        \"severity\": \"2\",\n        \"category\": \"Attempted Information Leak\",\n        \"full_record\": {in_iface=ens32, src_ip=192.168.8.1, src_port=59341, community_id=1:kg7hWJXvgZBtGoFVwQfpJ7bncf4=, @timestamp=2026-03-13T06:40:03.678Z, event_type=alert, alert={severity=2, signature_id=2002910, rev=6, metadata={updated_at=[2019_07_26], confidence=[Medium], created_at=[2010_07_30], signature_severity=[Informational]}, gid=1, signature=ET SCAN Potential VNC Scan 5800-5820, action=allowed, category=Attempted Information Leak}, flow_id=71435014948593, dest_ip=192.168.7.2, proto=TCP, dest_port=5811, pkt_src=wire/pcap, flow={src_ip=192.168.8.1, src_port=59341, pkts_toserver=1, dest_ip=192.168.7.2, start=2026-03-12T05:01:28.475384-0500, bytes_toclient=0, bytes_toserver=60, pkts_toclient=0, dest_port=5811}, timestamp=2026-03-12T05:01:28.475384-0500, direction=to_server} \n      }\n    },\n    {\n      \"alert_title\": \"\",\n      \"alert_description\": \"Suricata alert:  (SID 2010937); severity 2\",\n      \"alert_source\": \"Suricata/OpenSearch\",\n      \"alert_source_ref\": \"X6js5ZwBvisK5xa-dBRB\",\n      \"alert_source_event_time\": \"2026-03-13T06:40:03.678Z\",\n      \"alert_tags\": \"suricata,Potentially Bad Traffic\",\n      \"alert_severity_id\": 2,\n      \"alert_customer_id\": 1,\n      \"alert_classification_id\": 1,\n      \"alert_source_content\": {\n        \"event_type\": \"alert\",\n        \"src_ip\": \"192.168.8.1\",\n        \"src_port\": \"46778\",\n        \"dest_ip\": \"192.168.7.2\",\n        \"dest_port\": \"3306\",\n        \"signature_id\": \"2010937\",\n        \"signature\": \"\",\n        \"severity\": \"2\",\n        \"category\": \"Potentially Bad Traffic\",\n        \"full_record\": {in_iface=ens32, src_ip=192.168.8.1, src_port=46778, community_id=1:TGrKGAzF+Up2cUAPWLApwHsACoo=, @timestamp=2026-03-13T06:40:03.678Z, event_type=alert, alert={severity=2, signature_id=2010937, rev=3, metadata={updated_at=[2019_07_26], confidence=[Medium], created_at=[2010_07_30], signature_severity=[Informational]}, gid=1, signature=ET SCAN Suspicious inbound to mySQL port 3306, action=allowed, category=Potentially Bad Traffic}, flow_id=271562411021393, dest_ip=192.168.7.2, proto=TCP, dest_port=3306, pkt_src=wire/pcap, flow={src_ip=192.168.8.1, src_port=46778, pkts_toserver=1, dest_ip=192.168.7.2, start=2026-03-12T05:01:28.784124-0500, bytes_toclient=0, bytes_toserver=74, pkts_toclient=0, dest_port=3306}, timestamp=2026-03-12T05:01:28.784124-0500, direction=to_server} \n      }\n    },\n    {\n      \"alert_title\": \"\",\n      \"alert_description\": \"Suricata alert:  (SID 2010939); severity 2\",\n      \"alert_source\": \"Suricata/OpenSearch\",\n      \"alert_source_ref\": \"YKjs5ZwBvisK5xa-dBRB\",\n      \"alert_source_event_time\": \"2026-03-13T06:40:03.678Z\",\n      \"alert_tags\": \"suricata,Potentially Bad Traffic\",\n      \"alert_severity_id\": 2,\n      \"alert_customer_id\": 1,\n      \"alert_classification_id\": 1,\n      \"alert_source_content\": {\n        \"event_type\": \"alert\",\n        \"src_ip\": \"192.168.8.1\",\n        \"src_port\": \"55240\",\n        \"dest_ip\": \"192.168.7.2\",\n        \"dest_port\": \"5432\",\n        \"signature_id\": \"2010939\",\n        \"signature\": \"\",\n        \"severity\": \"2\",\n        \"category\": \"Potentially Bad Traffic\",\n        \"full_record\": {in_iface=ens32, src_ip=192.168.8.1, src_port=55240, community_id=1:Ymyf0JpPgCaJn/2UbdBDPr1aefg=, @timestamp=2026-03-13T06:40:03.678Z, event_type=alert, alert={severity=2, signature_id=2010939, rev=3, metadata={updated_at=[2019_07_26], confidence=[Medium], created_at=[2010_07_30], signature_severity=[Informational]}, gid=1, signature=ET SCAN Suspicious inbound to PostgreSQL port 5432, action=allowed, category=Potentially Bad Traffic}, flow_id=271588763256918, dest_ip=192.168.7.2, proto=TCP, dest_port=5432, pkt_src=wire/pcap, flow={src_ip=192.168.8.1, src_port=55240, pkts_toserver=1, dest_ip=192.168.7.2, start=2026-03-12T05:01:28.784130-0500, bytes_toclient=0, bytes_toserver=74, pkts_toclient=0, dest_port=5432}, timestamp=2026-03-12T05:01:28.784130-0500, direction=to_server} \n      }\n    },\n    {\n      \"alert_title\": \"\",\n      \"alert_description\": \"Suricata alert:  (SID 2100257); severity 2\",\n      \"alert_source\": \"Suricata/OpenSearch\",\n      \"alert_source_ref\": \"Yajs5ZwBvisK5xa-dBRB\",\n      \"alert_source_event_time\": \"2026-03-13T06:40:03.680Z\",\n      \"alert_tags\": \"suricata,Attempted Information Leak\",\n      \"alert_severity_id\": 2,\n      \"alert_customer_id\": 1,\n      \"alert_classification_id\": 1,\n      \"alert_source_content\": {\n        \"event_type\": \"alert\",\n        \"src_ip\": \"192.168.8.1\",\n        \"src_port\": \"38726\",\n        \"dest_ip\": \"192.168.7.2\",\n        \"dest_port\": \"53\",\n        \"signature_id\": \"2100257\",\n        \"signature\": \"\",\n        \"severity\": \"2\",\n        \"category\": \"Attempted Information Leak\",\n        \"full_record\": {in_iface=ens32, src_ip=192.168.8.1, src_port=38726, community_id=1:KT7MYXr2md2B9QWbD4Jv6ZzJraA=, @timestamp=2026-03-13T06:40:03.680Z, event_type=alert, alert={severity=2, signature_id=2100257, rev=11, metadata={updated_at=[2024_03_08], created_at=[2010_09_23], signature_severity=[Informational]}, gid=1, signature=GPL DNS named version attempt, action=allowed, category=Attempted Information Leak}, flow_id=246048046413591, dest_ip=192.168.7.2, proto=TCP, dest_port=53, pkt_src=wire/pcap, flow={src_ip=192.168.8.1, src_port=38726, pkts_toserver=3, dest_ip=192.168.7.2, start=2026-03-12T05:01:28.778183-0500, bytes_toclient=74, bytes_toserver=238, pkts_toclient=1, dest_port=53}, timestamp=2026-03-12T05:01:34.792854-0500, direction=to_server} \n      }\n    },\n    {\n      \"alert_title\": \"\",\n      \"alert_description\": \"Suricata alert:  (SID 2100257); severity 2\",\n      \"alert_source\": \"Suricata/OpenSearch\",\n      \"alert_source_ref\": \"Yqjs5ZwBvisK5xa-dBRB\",\n      \"alert_source_event_time\": \"2026-03-13T06:40:03.680Z\",\n      \"alert_tags\": \"suricata,Attempted Information Leak\",\n      \"alert_severity_id\": 2,\n      \"alert_customer_id\": 1,\n      \"alert_classification_id\": 1,\n      \"alert_source_content\": {\n        \"event_type\": \"alert\",\n        \"src_ip\": \"192.168.8.1\",\n        \"src_port\": \"38726\",\n        \"dest_ip\": \"192.168.7.2\",\n        \"dest_port\": \"53\",\n        \"signature_id\": \"2100257\",\n        \"signature\": \"\",\n        \"severity\": \"2\",\n        \"category\": \"Attempted Information Leak\",\n        \"full_record\": {tx_guessed=true, dns={query=[{rrname=version.bind, id=6, type=query, tx_id=0, opcode=0, rrtype=TXT}], version=2}, tx_id=0, app_proto=dns, in_iface=ens32, src_ip=192.168.8.1, src_port=38726, community_id=1:KT7MYXr2md2B9QWbD4Jv6ZzJraA=, @timestamp=2026-03-13T06:40:03.680Z, event_type=alert, alert={severity=2, signature_id=2100257, rev=11, metadata={updated_at=[2024_03_08], created_at=[2010_09_23], signature_severity=[Informational]}, gid=1, signature=GPL DNS named version attempt, action=allowed, category=Attempted Information Leak}, flow_id=246048046413591, dest_ip=192.168.7.2, proto=TCP, dest_port=53, pkt_src=wire/pcap, flow={src_ip=192.168.8.1, src_port=38726, pkts_toserver=4, dest_ip=192.168.7.2, start=2026-03-12T05:01:28.778183-0500, bytes_toclient=270, bytes_toserver=304, pkts_toclient=3, dest_port=53}, timestamp=2026-03-12T05:01:34.807619-0500, direction=to_server} \n      }\n    },\n    {\n      \"alert_title\": \"\",\n      \"alert_description\": \"Suricata alert:  (SID 2010939); severity 2\",\n      \"alert_source\": \"Suricata/OpenSearch\",\n      \"alert_source_ref\": \"Y6js5ZwBvisK5xa-dBRB\",\n      \"alert_source_event_time\": \"2026-03-13T06:40:03.680Z\",\n      \"alert_tags\": \"suricata,Potentially Bad Traffic\",\n      \"alert_severity_id\": 2,\n      \"alert_customer_id\": 1,\n      \"alert_classification_id\": 1,\n      \"alert_source_content\": {\n        \"event_type\": \"alert\",\n        \"src_ip\": \"192.168.8.1\",\n        \"src_port\": \"33102\",\n        \"dest_ip\": \"192.168.7.2\",\n        \"dest_port\": \"5432\",\n        \"signature_id\": \"2010939\",\n        \"signature\": \"\",\n        \"severity\": \"2\",\n        \"category\": \"Potentially Bad Traffic\",\n        \"full_record\": {in_iface=ens32, src_ip=192.168.8.1, src_port=33102, community_id=1:t267k9U7s0bYH296+2oIRKmlqRI=, @timestamp=2026-03-13T06:40:03.680Z, event_type=alert, alert={severity=2, signature_id=2010939, rev=3, metadata={updated_at=[2019_07_26], confidence=[Medium], created_at=[2010_07_30], signature_severity=[Informational]}, gid=1, signature=ET SCAN Suspicious inbound to PostgreSQL port 5432, action=allowed, category=Potentially Bad Traffic}, flow_id=1843039211918910, dest_ip=192.168.7.2, proto=TCP, dest_port=5432, pkt_src=wire/pcap, flow={src_ip=192.168.8.1, src_port=33102, pkts_toserver=1, dest_ip=192.168.7.2, start=2026-03-12T05:01:34.822332-0500, bytes_toclient=0, bytes_toserver=74, pkts_toclient=0, dest_port=5432}, timestamp=2026-03-12T05:01:34.822332-0500, direction=to_server} \n      }\n    },\n    {\n      \"alert_title\": \"\",\n      \"alert_description\": \"Suricata alert:  (SID 2100611); severity 1\",\n      \"alert_source\": \"Suricata/OpenSearch\",\n      \"alert_source_ref\": \"ZKjs5ZwBvisK5xa-dBRB\",\n      \"alert_source_event_time\": \"2026-03-13T06:40:03.680Z\",\n      \"alert_tags\": \"suricata,Unsuccessful User Privilege Gain\",\n      \"alert_severity_id\": 1,\n      \"alert_customer_id\": 1,\n      \"alert_classification_id\": 1,\n      \"alert_source_content\": {\n        \"event_type\": \"alert\",\n        \"src_ip\": \"192.168.7.2\",\n        \"src_port\": \"513\",\n        \"dest_ip\": \"192.168.8.1\",\n        \"dest_port\": \"46018\",\n        \"signature_id\": \"2100611\",\n        \"signature\": \"\",\n        \"severity\": \"1\",\n        \"category\": \"Unsuccessful User Privilege Gain\",\n        \"full_record\": {in_iface=ens32, src_ip=192.168.7.2, src_port=513, community_id=1:aQ9foMCVFQQMioOTuYWS9/5AUnA=, @timestamp=2026-03-13T06:40:03.680Z, event_type=alert, alert={severity=1, signature_id=2100611, rev=9, metadata={updated_at=[2024_03_08], created_at=[2010_09_23], signature_severity=[Informational]}, gid=1, signature=GPL RPC rlogin login failure, action=allowed, category=Unsuccessful User Privilege Gain}, flow_id=1696457027080754, dest_ip=192.168.8.1, proto=TCP, dest_port=46018, pkt_src=wire/pcap, flow={src_ip=192.168.8.1, src_port=46018, pkts_toserver=6, dest_ip=192.168.7.2, start=2026-03-12T05:01:34.853739-0500, bytes_toclient=368, bytes_toserver=418, pkts_toclient=5, dest_port=513}, timestamp=2026-03-12T05:01:34.894111-0500, direction=to_client} \n      }\n    },\n    {\n      \"alert_title\": \"\",\n      \"alert_description\": \"Suricata alert:  (SID 2010939); severity 2\",\n      \"alert_source\": \"Suricata/OpenSearch\",\n      \"alert_source_ref\": \"Zajs5ZwBvisK5xa-dBRB\",\n      \"alert_source_event_time\": \"2026-03-13T06:40:03.680Z\",\n      \"alert_tags\": \"suricata,Potentially Bad Traffic\",\n      \"alert_severity_id\": 2,\n      \"alert_customer_id\": 1,\n      \"alert_classification_id\": 1,\n      \"alert_source_content\": {\n        \"event_type\": \"alert\",\n        \"src_ip\": \"192.168.8.1\",\n        \"src_port\": \"33116\",\n        \"dest_ip\": \"192.168.7.2\",\n        \"dest_port\": \"5432\",\n        \"signature_id\": \"2010939\",\n        \"signature\": \"\",\n        \"severity\": \"2\",\n        \"category\": \"Potentially Bad Traffic\",\n        \"full_record\": {in_iface=ens32, src_ip=192.168.8.1, src_port=33116, community_id=1:oUpYRM24+9IU7Oa24ows6ZcAS9A=, @timestamp=2026-03-13T06:40:03.680Z, event_type=alert, alert={severity=2, signature_id=2010939, rev=3, metadata={updated_at=[2019_07_26], confidence=[Medium], created_at=[2010_07_30], signature_severity=[Informational]}, gid=1, signature=ET SCAN Suspicious inbound to PostgreSQL port 5432, action=allowed, category=Potentially Bad Traffic}, flow_id=1884828907111111, dest_ip=192.168.7.2, proto=TCP, dest_port=5432, pkt_src=wire/pcap, flow={src_ip=192.168.8.1, src_port=33116, pkts_toserver=1, dest_ip=192.168.7.2, start=2026-03-12T05:01:34.897597-0500, bytes_toclient=0, bytes_toserver=74, pkts_toclient=0, dest_port=5432}, timestamp=2026-03-12T05:01:34.897597-0500, direction=to_server} \n      }\n    },\n    {\n      \"alert_title\": \"\",\n      \"alert_description\": \"Suricata alert:  (SID 2260002); severity 3\",\n      \"alert_source\": \"Suricata/OpenSearch\",\n      \"alert_source_ref\": \"Zqjs5ZwBvisK5xa-dBRB\",\n      \"alert_source_event_time\": \"2026-03-13T06:40:03.680Z\",\n      \"alert_tags\": \"suricata,Generic Protocol Command Decode\",\n      \"alert_severity_id\": 3,\n      \"alert_customer_id\": 1,\n      \"alert_classification_id\": 1,\n      \"alert_source_content\": {\n        \"event_type\": \"alert\",\n        \"src_ip\": \"192.168.8.1\",\n        \"src_port\": \"33116\",\n        \"dest_ip\": \"192.168.7.2\",\n        \"dest_port\": \"5432\",\n        \"signature_id\": \"2260002\",\n        \"signature\": \"\",\n        \"severity\": \"3\",\n        \"category\": \"Generic Protocol Command Decode\",\n        \"full_record\": {metadata={flowints={applayer_anomaly_count=1}}, app_proto_tc=failed, app_proto=smb, in_iface=ens32, src_ip=192.168.8.1, src_port=33116, community_id=1:oUpYRM24+9IU7Oa24ows6ZcAS9A=, @timestamp=2026-03-13T06:40:03.680Z, event_type=alert, alert={severity=3, signature_id=2260002, rev=1, gid=1, signature=SURICATA Applayer Detect protocol only one direction, action=allowed, category=Generic Protocol Command Decode}, flow_id=1884828907111111, dest_ip=192.168.7.2, proto=TCP, dest_port=5432, pkt_src=wire/pcap, flow={src_ip=192.168.8.1, src_port=33116, pkts_toserver=4, dest_ip=192.168.7.2, start=2026-03-12T05:01:34.897597-0500, bytes_toclient=339, bytes_toserver=440, pkts_toclient=3, dest_port=5432}, timestamp=2026-03-12T05:01:34.917326-0500, direction=to_server} \n      }\n    },\n    {\n      \"alert_title\": \"\",\n      \"alert_description\": \"Suricata alert:  (SID 2006380); severity 1\",\n      \"alert_source\": \"Suricata/OpenSearch\",\n      \"alert_source_ref\": \"Z6js5ZwBvisK5xa-dBRB\",\n      \"alert_source_event_time\": \"2026-03-13T06:40:03.894Z\",\n      \"alert_tags\": \"suricata,Potential Corporate Privacy Violation\",\n      \"alert_severity_id\": 1,\n      \"alert_customer_id\": 1,\n      \"alert_classification_id\": 1,\n      \"alert_source_content\": {\n        \"event_type\": \"alert\",\n        \"src_ip\": \"192.168.7.88\",\n        \"src_port\": \"43862\",\n        \"dest_ip\": \"192.168.7.254\",\n        \"dest_port\": \"80\",\n        \"signature_id\": \"2006380\",\n        \"signature\": \"\",\n        \"severity\": \"1\",\n        \"category\": \"Potential Corporate Privacy Violation\",\n        \"full_record\": {tx_id=0, app_proto=http, in_iface=ens32, src_ip=192.168.7.88, src_port=43862, community_id=1:ZE0O8+rJnSt1P5T7B/3FlC+7K8U=, @timestamp=2026-03-13T06:40:03.894Z, event_type=alert, alert={severity=1, signature_id=2006380, rev=18, metadata={performance_impact=[Significant], updated_at=[2024_08_07], confidence=[Medium], created_at=[2010_07_30], signature_severity=[Informational]}, gid=1, signature=ET INFO Outgoing Basic Auth Base64 HTTP Password detected unencrypted, action=allowed, category=Potential Corporate Privacy Violation}, flow_id=931753038184755, dest_ip=192.168.7.254, proto=TCP, http={hostname=192.168.7.254, protocol=HTTP/1.1, http_method=GET, http_content_type=application/json, length=1745, url=/api/core/firmware/status, http_user_agent=curl/8.14.1, status=200}, dest_port=80, pkt_src=wire/pcap, flow={src_ip=192.168.7.88, src_port=43862, pkts_toserver=4, dest_ip=192.168.7.254, start=2026-03-12T06:04:59.020332-0500, bytes_toclient=2380, bytes_toserver=612, pkts_toclient=4, dest_port=80}, timestamp=2026-03-12T06:04:59.185934-0500, direction=to_server} \n      }\n    },\n    {\n      \"alert_title\": \"\",\n      \"alert_description\": \"Suricata alert:  (SID 2006380); severity 1\",\n      \"alert_source\": \"Suricata/OpenSearch\",\n      \"alert_source_ref\": \"a6js5ZwBvisK5xa-dRR4\",\n      \"alert_source_event_time\": \"2026-03-13T06:40:04.225Z\",\n      \"alert_tags\": \"suricata,Potential Corporate Privacy Violation\",\n      \"alert_severity_id\": 1,\n      \"alert_customer_id\": 1,\n      \"alert_classification_id\": 1,\n      \"alert_source_content\": {\n        \"event_type\": \"alert\",\n        \"src_ip\": \"192.168.7.88\",\n        \"src_port\": \"57218\",\n        \"dest_ip\": \"192.168.7.254\",\n        \"dest_port\": \"80\",\n        \"signature_id\": \"2006380\",\n        \"signature\": \"\",\n        \"severity\": \"1\",\n        \"category\": \"Potential Corporate Privacy Violation\",\n        \"full_record\": {tx_id=0, app_proto=http, in_iface=ens32, src_ip=192.168.7.88, src_port=57218, community_id=1:549RPo3BHIWEowXI1h9PZQsl0gQ=, @timestamp=2026-03-13T06:40:04.225Z, event_type=alert, alert={severity=1, signature_id=2006380, rev=18, metadata={performance_impact=[Significant], updated_at=[2024_08_07], confidence=[Medium], created_at=[2010_07_30], signature_severity=[Informational]}, gid=1, signature=ET INFO Outgoing Basic Auth Base64 HTTP Password detected unencrypted, action=allowed, category=Potential Corporate Privacy Violation}, flow_id=371411671328497, dest_ip=192.168.7.254, proto=TCP, http={hostname=192.168.7.254, protocol=HTTP/1.1, http_method=POST, http_content_type=application/json, length=25, url=/api/firewall/alias_util/add/blocked_ips, http_user_agent=curl/8.14.1, status=200}, files=[{filename=/api/firewall/alias_util/add/blocked_ips, size=21, stored=false, state=CLOSED, tx_id=0, gaps=false}], dest_port=80, pkt_src=wire/pcap, flow={src_ip=192.168.7.88, src_port=57218, pkts_toserver=4, dest_ip=192.168.7.254, start=2026-03-12T09:02:09.217548-0500, bytes_toclient=578, bytes_toserver=701, pkts_toclient=3, dest_port=80}, timestamp=2026-03-12T09:02:09.345548-0500, direction=to_server} \n      }\n    },\n  ]\n}",
          "webhookUrl": "http://localhost:5678/webhook/os",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Clean the message body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Extract Alert IDs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clean Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "Create Case",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Split Out4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Merge Alerts into Case",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Block Attacker",
            "type": "main",
            "index": 0
          },
          {
            "node": "Isolate Asset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Alerts to IRIS": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Items": {
      "main": [
        [
          {
            "node": "Send Alerts to IRIS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean the message body": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Case": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Alerts into Case": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Block Attacker": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Isolate Asset": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Alert IDs": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a8f768c4-2e86-4cbf-b7f4-32a1d4be9ea4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6785d053a5e9bb4ca93235e1454382c7516ad1e4830c9c3c953c8a67fd431f83"
  },
  "id": "ptS2zVXmwxKXyyhS",
  "tags": []
}